# Godot-specific files
.import/
.export/
project.metadata
*.import
*.godot

# Godot build files
*.pck
*.exe
*.apk
*.ios
*.x86
*.x86_64
*.dmg
*.app
*.swp
*.swo
.idea/
.vscode/

# User-specific files
*.user
*.user.monster
*.godot/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Godot temporary files
*.log
*.tmp
